@{
    ViewBag.Title = "Send Confirmation Email";
}


<h2>Send Confirmation</h2>

<!--input form-->
<br />
<form action="SendConfirmation" method="post">
    <table>
        <tr>
            <td class="blue-uppercase">Enter Name: </td>
            <td><input type="text" name="sName" class="login-input" /></td>
        </tr>
        <br />
        <tr>
            <td class="blue-uppercase">Enter Email: </td>
            <td><input type="text" name="sEmail" class="login-input" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" class="bluebtn" style="height:30px" /></td>
        </tr>
    </table>
</form>